# PostgreSQL database connection string
DATABASE_URL="postgres://matrix_user:crypto@192.168.1.28:5432/rsimatrix?sslmode=disable"

# NextAuth.js configuration
# The canonical URL of your production site
NEXTAUTH_URL="http://localhost:3000" # Dev value
# A secret to sign tokens, generate it with `openssl rand -base64 32`
NEXTAUTH_SECRET="yoursupersecretkey"

# Google OAuth credentials for NextAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Comma-separated list of emails allowed to sign in to the admin panel
ALLOWED_EMAILS="user1@example.com,user2@example.com"

# Discord webhook for lead notifications
DISCORD_WEBHOOK_URL=""

# Publicly exposed variables (prefixed with NEXT_PUBLIC_)
# Google Analytics 4 ID
NEXT_PUBLIC_GA_ID=""
# The public base URL of the application (e.g., http://localhost:3000)
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# SEO and site metadata
# The public URL of the site
SITE_URL="https://muuttokone.fi"
# Google Search Console verification key
GOOGLE_SITE_VERIFICATION=""

# OpenAI API Key for the AI chat feature
GOOGLE_GENERATIVE_AI_API_KEY="
